/*	
Author:kermit
Email:455196886@qq.com
Company:http://dragontrail.com/
Creattime:2017-04-08
*/

//基础样式类库
@import "ProPreboot.less";

//返回顶部
.com-gotop{
    position:fixed;
    bottom:40px;
    right:40px;
    padding:0.5em;
    background-color:@gray-lighter;
    color:#999;
    border-radius:0.2em;
    .iconfont{
        width:1em;
        font-size:20px;
    }
    &:hover{
        color:#fff;
        background-color:@brand-primary;
    }
}








